# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]uild/
[Bb]uilds/
out/
[Ll]og/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.tlog
*.lastbuildstate
*.idb
*.ipch
*.iobj
*.ipdb
*.pch
*.cer
*.sys.bak

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.aps
ipch/

# VS Code / other IDEs
.vscode/
.idea/

# Packages
packages/
*.nupkg
node_modules/

# OS
Thumbs.db
desktop.ini
.DS_Store

# Logs / temp
*.log
*.tmp
/KMDriver/KMDriver.vcxproj
/KMDriver/KMDriver.vcxproj.filters
